.tag.html {background: #f17a10;}
.tag.css {background: #108cf1;}
.tag.js {background: #f1cf10;}
.tag.react {background: #9268d5;}
.tag.node {background: #85bf26;}
.tag.mysql {background: #52cdc3;}
.tag.express {background: #ed58a2;}
.tag.php {background: #2338a7;}
